docs/AutomatisationN8N.json
{
  "name": "Woody IA v1.0",
  "nodes": [
    {
      "parameters": {
        "content": "## v1.5 - Autonomie\n- Trouver la déclaration correspondante dans la base de donnée\n- Rempllisage des frais de transport automatiquement\n",
        "height": 640,
        "width": 5184
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2608,
        1264
      ],
      "typeVersion": 1,
      "id": "d3722be5-ad48-402d-aaf8-b0a1932190c6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -784,
        864
      ],
      "id": "3ad21dfa-7e91-4ca5-b37f-8d0c1bb56420",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "eop0d42SdE7aIjSC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.content.parts[0].text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Camion",
              "description": "Plaque du camion (Uniquement chiffres et lettres, pas de . ni -) (ex: R1234ABC ou 123456 ou 1234 =/= 1234.56)",
              "required": true
            },
            {
              "name": "Date d'arrivée du camion",
              "type": "date",
              "description": "Date d'arrivée du camion",
              "required": true
            },
            {
              "name": "Frais de transit",
              "type": "number",
              "description": "="
            },
            {
              "name": "Frais Commission",
              "type": "number",
              "description": "="
            },
            {
              "name": "Autre frais",
              "type": "number",
              "description": "=Total de tous les autres frais hors Commission et transit"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -848,
        640
      ],
      "id": "7a413bcb-a6af-47a0-997d-06b4e9559b7a",
      "name": "Informations + frais"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary[\"Compte_de_vente\"] ? true : false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "e4631431-bef6-44c6-94b3-47467d358d77"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Compte de vente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dea1ffef-c187-4576-aef8-2bec26cc3c9c",
                    "leftValue": "={{ $binary[\"Fiche_de_lot\"] ? true : false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fiche de lot"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1520,
        896
      ],
      "id": "5b4f44a8-e3ae-4b58-bc8b-0afe228437a3",
      "name": "Switch"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1680,
        896
      ],
      "id": "61bde36a-0af1-4044-8fed-a11549c3f6fd",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Recursively find the Claude text response\nfunction findText(obj) {\n  if (typeof obj === 'string') return obj;\n  if (Array.isArray(obj)) {\n    for (const item of obj) {\n      const result = findText(item);\n      if (result && result.includes('\"documents\"')) return result;\n    }\n  }\n  if (obj && typeof obj === 'object') {\n    for (const val of Object.values(obj)) {\n      const result = findText(val);\n      if (result && result.includes('\"documents\"')) return result;\n    }\n  }\n  return null;\n}\n\nconst raw = findText($input.first().json);\nif (!raw) throw new Error(\"Aucun texte contenant 'documents' trouvé dans l'input\");\n\n// Extract JSON from possible markdown fences\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\nif (!match) throw new Error(\"Aucun JSON trouvé dans le texte\");\n\nconst parsed = JSON.parse(match[0]);\n\nreturn parsed.documents[0].lignes.map(ligne => ({\n  json: ligne\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        1040
      ],
      "id": "d99a5f19-954f-4d8b-ab5a-6929eb3c0016",
      "name": "LIGNE VENTE JSON"
    },
    {
      "parameters": {
        "operation": "search",
        "query": "TEMPLATE_CV"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        64,
        656
      ],
      "id": "f51c5ed9-e237-4182-bc2c-cea598d33bab",
      "name": "ID TEMPLATE",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "voUNQmMakt6L8RUa",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": "={{ $json.id }}",
        "additionalFields": {
          "name": "={{ $('WOODY FORM').item.json.Client }}_{{ $('Informations + frais').item.json.output.Camion }}_{{ $('Informations + frais').item.json.output['Date d\\'arrivée du camion'] }}_{{ $execution.id }}.xlsx"
        },
        "parentReference": {}
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        272,
        656
      ],
      "id": "f074fc96-86c8-4997-8d50-ee4d2a8cf698",
      "name": "COPY TEMPLATE",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "voUNQmMakt6L8RUa",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "table",
        "workbook": {
          "__rl": true,
          "value": "={{ $('ID COPY').first().json.ID }}",
          "mode": "id"
        },
        "worksheet": {
          "__rl": true,
          "value": "{9CCA8510-C5C5-4256-8B9D-7EF7F5679894}",
          "mode": "list",
          "cachedResultName": "INFORMATIONS"
        },
        "table": {
          "__rl": true,
          "value": "{29DF256E-C5E7-4FE4-985B-313C7E6D001C}",
          "mode": "list",
          "cachedResultName": "INFORMATIONS"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "Produit",
              "fieldValue": "={{ $('WOODY FORM').first().json['Produit à analyser'] }}"
            },
            {
              "column": "Camion",
              "fieldValue": "={{ $('Info + Frais').first().json.Camion }}"
            },
            {
              "column": "Date d'arrivée du camion",
              "fieldValue": "={{ $('Info + Frais').first().json['Date d\\'arrivée du camion'] }}"
            },
            {
              "column": "Frais de transit",
              "fieldValue": "={{ $('Info + Frais').first().json['Frais de transit'] }}"
            },
            {
              "column": "Frais Commission",
              "fieldValue": "={{ $('Info + Frais').first().json['Frais Commission'] }}"
            },
            {
              "column": "Autre frais",
              "fieldValue": "={{ $('Info + Frais').first().json['Autre frais'] }}"
            },
            {
              "column": "Frais UE",
              "fieldValue": "={{ $('Info + Frais').first().json['Frais UE'] }}"
            },
            {
              "column": "Frais INT",
              "fieldValue": "={{ $('Info + Frais').first().json['Frais INT'] }}"
            },
            {
              "column": "Poids déclaré",
              "fieldValue": "={{ $('Info + Frais').first().json['Poids déclaré'] }}"
            },
            {
              "column": "Prix déclaré (au kilo)",
              "fieldValue": "={{ $('Info + Frais').first().json['Prix déclaré (au kilo)'] }}"
            },
            {
              "column": "Date BAE",
              "fieldValue": "={{ $('Info + Frais').first().json['Date BAE'] }}"
            },
            {
              "column": "Dossier",
              "fieldValue": "={{ $('Info + Frais').first().json.Dossier }}"
            },
            {
              "column": "Client",
              "fieldValue": "={{ $('Info + Frais').first().json.Client }}"
            },
            {
              "column": "Fournisseur",
              "fieldValue": "={{ $('Info + Frais').first().json.Fournisseur }}"
            },
            {
              "column": "N° Déclaration",
              "fieldValue": "={{ $('Info + Frais').first().json['N° Déclaration'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        1056,
        896
      ],
      "id": "1feb7eeb-bb64-4a04-b398-4a8771d68ae7",
      "name": "INFO",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "YKOOKqsdMUbe56LI",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "resource": "table",
        "workbook": {
          "__rl": true,
          "value": "={{ $('ID COPY').first().json.ID }}",
          "mode": "id"
        },
        "worksheet": {
          "__rl": true,
          "value": "{BDC2D173-1D7D-48E5-B40D-7D1BCA5952AA}",
          "mode": "list",
          "cachedResultName": "LIGNE DE VENTE"
        },
        "table": {
          "__rl": true,
          "value": "{3D4C251C-24C3-4D62-930C-B21DF4B3822C}",
          "mode": "list",
          "cachedResultName": "ligne_de_vente",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BC3BA4A82-2443-4F35-8F6A-0745FEAD3E01%7D&file=TEMPLATE_CV.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell='LIGNE%20DE%20VENTE'!A1:F2"
        },
        "dataMode": "autoMap",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        832,
        896
      ],
      "id": "05f990b2-a94a-4b68-ad20-12f2b7a8b122",
      "name": "VENTE",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "YKOOKqsdMUbe56LI",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        896
      ],
      "id": "1f4ff9be-a67b-41ba-9057-d4dd2e884c3c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7b3e86a-d183-4b67-ab54-b97e53453695",
              "name": "ID",
              "value": "={{ $json.location.split('/items/')[1].split('?')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        656
      ],
      "id": "428e1199-119e-4335-a717-22cea9d50f93",
      "name": "ID COPY"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1280,
        896
      ],
      "id": "aa5d710a-7277-42bf-b687-d404f9b49448",
      "name": "Wait",
      "webhookId": "8717b3fc-1063-4d68-99c3-5d23d448c426"
    },
    {
      "parameters": {
        "toRecipients": "=cdv@grlog.com",
        "subject": "={{ $json.Dossier }} : {{ $json.Camion }} // {{ $('WOODY FORM').first().json.Client }}",
        "bodyContent": "=ATTENTION : VERIFIEZ LES RESULTATS, JE PEUX ÊTRE VICTIME D'HALLUCINATIONS.\nFiche de lot : {{ $('WOODY FORM').first().json['Fiche de lot'].filename }}\nCompte de vente : {{ $('WOODY FORM').first().json['Compte de vente'].filename }}",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "Resultat"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1728,
        896
      ],
      "id": "975a1322-d11c-4f64-86c2-4ef5a5a8883c",
      "name": "Send a message",
      "webhookId": "9bbbab3c-656b-4f88-ab64-8514a55479e4",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "rno3ik1bu8c9opKX",
          "name": "cdv@grlog.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## v2 - Calcul différence de poid\n- Faire la difference entre poids net déclaré, et poids net vendu :\n - difference entre poids delcaré et poids vendu\n  -> -100kg de difference = pas de liquidation complementaire\n  -> +100kg de différence = deux résultat : 1 avec le poids de la dec + 1 avec DD plein poids complementaire\n\n",
        "height": 640,
        "width": 4608,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2608,
        1920
      ],
      "typeVersion": 1,
      "id": "af380b08-8a53-48be-a2ef-46d325599e16",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## v1.0 - Calcul initial\n- Formulaire de saisie\n- OCR des documents et extractions des informations\n- Création d'un Excel unique pour chaque dossier\n- Envoie par mail à l'utilisateur",
        "height": 640,
        "width": 4608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2608,
        608
      ],
      "typeVersion": 1,
      "id": "a7c9a083-d0f8-4d90-a3f7-d7b9b5c3c826",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Produit à analyser\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Décris le produit à analyser\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Client\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n      \"values\": [\n{{(() => {\n  const items = $('Merge3').all() || [];\n\n  return items\n    .map(item => String(item.json?.Client ?? '').trim())\n    .filter(Boolean)\n    .map(label => {\n      const safe = label.replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\n      return `        {\\n          \"option\": \"${safe}\"\\n        }`;\n    })\n    .join(\",\\n\");\n})()}}\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Compte de vente\",\n    \"fieldType\": \"file\",\n    \"multipleFiles\": false,\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Fiche de lot\",\n    \"fieldType\": \"file\",\n    \"multipleFiles\": false,\n    \"requiredField\": true\n  }\n]",
        "options": {
          "formTitle": "WOODY",
          "formDescription": "Agent IA spécialisé dans le calcul des comptes de vente. (v1.0)",
          "buttonLabel": "Lancer le calcul"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1808,
        896
      ],
      "id": "0576127e-883b-480c-b549-e02e717777eb",
      "name": "WOODY FORM",
      "webhookId": "d6846917-aecd-4586-9825-e7fc47680ba6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Je souhaite'] }}",
                    "rightValue": "Calculer un compte de vente",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8ae94e88-f19b-4c38-a4bd-090ee93b86d5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Calcul compte de vente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c4b8b61b-ee19-42c2-beb6-7e0e54fbdd58",
                    "leftValue": "={{ $json['Je souhaite'] }}",
                    "rightValue": "Relancer les clients",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Relance"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2192,
        992
      ],
      "id": "ca6ff521-3e66-486e-bad8-573332570900",
      "name": "Switch1"
    },
    {
      "parameters": {
        "formTitle": "Woody v1.0",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Je souhaite",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Calculer un compte de vente"
                  },
                  {
                    "option": "Relancer les clients"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -2416,
        992
      ],
      "id": "a0b9f7f7-a32c-441c-9eb7-d2c1f122fb5c",
      "name": "On form submission",
      "webhookId": "9a91f971-cea8-4b75-bc79-b2fd45cf403b"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aBYT0FwoVIaQX2h9",
          "mode": "list",
          "cachedResultUrl": "/workflow/aBYT0FwoVIaQX2h9",
          "cachedResultName": "GR LOG — Relance automatique v1.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1968,
        1088
      ],
      "id": "8c7aab21-9a93-4dc4-82da-670d81fa5e25",
      "name": "Call 'Relance automatique v1.0'"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Relance en cours de génération",
        "completionMessage": "Vous retrouverez les relances dans les brouillons sur douane@grlog.com",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1744,
        1088
      ],
      "id": "678c4fb4-b305-4868-91c7-02dcf307e94d",
      "name": "Form",
      "webhookId": "1df983cc-2e80-46a6-b33a-d4fc30d5098f"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2000,
        1552
      ],
      "id": "c458bef5-cab6-457d-87ee-229b13194c37",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "append",
        "workbook": {
          "__rl": true,
          "value": "01NGDMDCRJSLQ3A5SG35EIAWYKNUPUNCJM",
          "mode": "list",
          "cachedResultName": "CVENCOURS",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BB0E19229-4676-48DF-805B-0A6D1F46892C%7D&file=CVENCOURS.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{CA4CC779-356D-4AA5-950C-B5E2F058474E}",
          "mode": "list",
          "cachedResultName": "gold cv_encours",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BB0E19229-4676-48DF-805B-0A6D1F46892C%7D&file=CVENCOURS.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=gold%20cv_encours!A1"
        },
        "dataMode": "autoMap",
        "options": {
          "rawData": true
        }
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        -1008,
        1600
      ],
      "id": "08b016bf-58a6-4b6f-a38e-71306e3dacc9",
      "name": "Append data to sheet",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "YKOOKqsdMUbe56LI",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "clear",
        "workbook": {
          "__rl": true,
          "value": "01NGDMDCRJSLQ3A5SG35EIAWYKNUPUNCJM",
          "mode": "list",
          "cachedResultName": "CVENCOURS",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BB0E19229-4676-48DF-805B-0A6D1F46892C%7D&file=CVENCOURS.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{CA4CC779-356D-4AA5-950C-B5E2F058474E}",
          "mode": "list",
          "cachedResultName": "gold cv_encours",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BB0E19229-4676-48DF-805B-0A6D1F46892C%7D&file=CVENCOURS.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=gold%20cv_encours!A1"
        },
        "applyTo": "Contents",
        "useRange": true,
        "range": "A3:V1048576"
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        -2000,
        1712
      ],
      "id": "43303cda-a46c-46b4-830f-4b7863dcfeb2",
      "name": "Clear sheet",
      "executeOnce": true,
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "YKOOKqsdMUbe56LI",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "content": "## MAJ CV EN COURS\n",
        "height": 400,
        "width": 1424,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2240,
        1504
      ],
      "typeVersion": 1,
      "id": "c8fe20f9-ce75-4678-9123-827a0cd9b31e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "getRows",
        "workbook": {
          "__rl": true,
          "value": "01NGDMDCRJSLQ3A5SG35EIAWYKNUPUNCJM",
          "mode": "list",
          "cachedResultName": "CVENCOURS",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BB0E19229-4676-48DF-805B-0A6D1F46892C%7D&file=CVENCOURS.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{CA4CC779-356D-4AA5-950C-B5E2F058474E}",
          "mode": "list",
          "cachedResultName": "gold cv_encours",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BB0E19229-4676-48DF-805B-0A6D1F46892C%7D&file=CVENCOURS.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=gold%20cv_encours!A1"
        },
        "table": {
          "__rl": true,
          "value": "{DC45C123-04CC-4986-909F-33238E82541A}",
          "mode": "list",
          "cachedResultName": "Tableau1",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BB0E19229-4676-48DF-805B-0A6D1F46892C%7D&file=CVENCOURS.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell='gold%20cv_encours'!A1:V320"
        },
        "returnAll": true,
        "filters": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        -2352,
        1376
      ],
      "id": "4de08e1f-4912-49f3-a19b-fd96f627017f",
      "name": "Get rows",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "YKOOKqsdMUbe56LI",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a643b7db-9680-4cb7-a9af-7ff95ce3eba3",
              "leftValue": "={{ $('Informations + frais').first().json.output['Date d\\'arrivée du camion'] }}",
              "rightValue": "={{   (() => {     const d = new Date($json.DATEHEUREBAE);     d.setDate(d.getDate() - 3);     return d.toISOString().split('T')[0];   })() }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            },
            {
              "id": "fc5adf08-3c08-4d6a-a0ab-6a34586750aa",
              "leftValue": "={{ $('Informations + frais').first().json.output['Date d\\'arrivée du camion'] }}",
              "rightValue": "={{   (() => {     const d = new Date($json.DATEHEUREBAE);     d.setDate(d.getDate() + 3);     return d.toISOString().split('T')[0];   })() }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            },
            {
              "id": "b2bb1a0e-9f25-4e81-a3f7-61a8b05d95d0",
              "leftValue": "={{ $json.EXPIMPNOM }}",
              "rightValue": "={{ $('WOODY FORM').first().json.Client }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -208,
        1360
      ],
      "id": "82ba11f0-f45a-4151-a63a-4d83844444a4",
      "name": "Filter",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04533992-9033-4b04-9be9-59c746828c4d",
              "name": "Frais UE",
              "value": "={{ \n(() => {\n  const items = $('Filter').all();\n  if (!items || items.length === 0) return 0;\n\n  const value = items[0]?.json?.FRAISUEP;\n  return Number(value) || 0;\n})()\n}}",
              "type": "number"
            },
            {
              "id": "5f867b6b-bf36-4bbb-8e32-a0167d5c0b74",
              "name": "Frais INT",
              "value": "={{ \n(() => {\n  const items = $('Filter').all();\n  if (!items || items.length === 0) return 0;\n\n  const value = items[0]?.json?.FRAISINTP;\n  return Number(value) || 0;\n})()\n}}",
              "type": "number"
            },
            {
              "id": "49970138-8b21-492c-a3b0-6030d5abda9f",
              "name": "Poids déclaré",
              "value": "={{ \n(() => {\n  const items = $('Filter').all();\n  if (!items || items.length === 0) return 0;\n\n  const value = items[0]?.json?.PDSN_30;\n  return Number(value) || 0;\n})()\n}}",
              "type": "number"
            },
            {
              "id": "0c9bfd6b-f316-4f47-9623-07f7ec7d08eb",
              "name": "Prix déclaré (au kilo)",
              "value": "={{ \n(() => {\n  const items = $('Filter').all();\n  if (!items || items.length === 0) return 0;\n\n  const value = items[0]?.json?.VALEUR_COMPTE_VENTE_30;\n  return Number(value) || 0;\n})()\n}}",
              "type": "number"
            },
            {
              "id": "49ef769c-cb9a-4f32-90ae-2c3e14d6c611",
              "name": "Date BAE",
              "value": "={{ \n(() => {\n  const items = $('Filter').all();\n  if (!items || items.length === 0) return 'Non trouvé';\n\n  const raw = items[0]?.json?.DATEHEUREBAE;\n  if (!raw) return 'Non trouvé';\n\n  const d = new Date(raw);\n  if (isNaN(d.getTime())) return 'Non trouvé';\n\n  return d.toISOString().split('T')[0];\n})()\n}}",
              "type": "string"
            },
            {
              "id": "c19c4405-b96a-41a9-a0d9-b15b7ae033a3",
              "name": "Dossier",
              "value": "={{ \n(() => {\n  const items = $('Filter').all();\n  if (!items || items.length === 0) return 'Non trouvé';\n\n  const value = items[0]?.json?.REFINTERNE;\n  return value ?? 'Non trouvé';\n})()\n}}",
              "type": "string"
            },
            {
              "id": "080b3338-8942-488b-a690-146733063841",
              "name": "Client",
              "value": "={{ \n(() => {\n  const items = $('Filter').all();\n  if (!items || items.length === 0) return 'Non trouvé';\n\n  const value = items[0]?.json?.EXPIMPNOM;\n  return value ?? 'Non trouvé';\n})()\n}}",
              "type": "string"
            },
            {
              "id": "1220865a-ed5c-4b06-af21-f7aa6901d6f5",
              "name": "Fournisseur",
              "value": "={{ \n(() => {\n  const items = $('Filter').all();\n  if (!items || items.length === 0) return 'Non trouvé';\n\n  const value = items[0]?.json?.CLIFOUNOM;\n  return value ?? 'Non trouvé';\n})()\n}}",
              "type": "string"
            },
            {
              "id": "da264ac8-7bc6-4708-a535-453270d7864e",
              "name": "N° Déclaration",
              "value": "={{ \n(() => {\n  const items = $('Filter').all();\n  if (!items || items.length === 0) return 'Non trouvé';\n\n  const value = items[0]?.json?.ORDRE;\n  return value ?? 'Non trouvé';\n})()\n}}",
              "type": "string"
            },
            {
              "id": "97835a35-219a-47bc-9850-623125632143",
              "name": "Frais de transit",
              "value": "={{ $('Informations + frais').first().json.output['Frais de transit'] }}",
              "type": "string"
            },
            {
              "id": "a5cb7700-8abb-49d6-9be5-b97fea4ec67a",
              "name": "Frais Commission",
              "value": "={{ $('Informations + frais').first().json.output['Frais Commission'] }}",
              "type": "string"
            },
            {
              "id": "2c6544f0-1d13-4094-a1d2-e044178b7560",
              "name": "Autre frais",
              "value": "={{ $('Informations + frais').first().json.output['Autre frais'] }}",
              "type": "string"
            },
            {
              "id": "d7b4d1ba-0dc5-4600-885a-bb140470d8c0",
              "name": "Date d'arrivée du camion",
              "value": "={{ $('Informations + frais').first().json.output['Date d\\'arrivée du camion'] }}",
              "type": "string"
            },
            {
              "id": "c942071f-1ed0-4852-9e8f-d52ec1533dda",
              "name": "Camion",
              "value": "={{ $('Informations + frais').first().json.output.Camion }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        1360
      ],
      "id": "e3615440-981e-47a2-9e3e-38202a0766d9",
      "name": "Info + Frais"
    },
    {
      "parameters": {
        "content": "## Récupérer déclaration",
        "height": 416,
        "width": 896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1312
      ],
      "typeVersion": 1,
      "id": "b12d823c-d852-4814-bc21-569081800784",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1952,
        896
      ],
      "id": "14a0beeb-3c3e-4dde-b12f-c69d4c62d974",
      "name": "Merge3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "acf34dcf-c93a-4529-b545-8c155abdf976",
              "name": "Client",
              "value": "={{ $json.EXPIMPNOM }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2144,
        1280
      ],
      "id": "5a1835eb-c4a5-4b4f-a9ff-92424764c857",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -1984,
        1280
      ],
      "id": "2555c4aa-75bd-4b2f-94dd-74e55c2aad93",
      "name": "Liste client formulaire"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/me/drive/items/{{ $('ID COPY').first().json.ID }}/content",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "Resultat"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1488,
        896
      ],
      "id": "7f46b952-5786-4cc2-be43-ce33cbe036a9",
      "name": "HTTP Request",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "rno3ik1bu8c9opKX",
          "name": "cdv@grlog.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "output.Camion",
              "field2": "TPFRTIDENT"
            }
          ]
        },
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -416,
        1360
      ],
      "id": "58faa7c2-85f3-4f69-b0ab-5873d949fea0",
      "name": "Merge4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7298ba88-eae1-4f67-b117-648e8ba1f410",
              "name": "TPFRTIDENT",
              "value": "={{ String($json.TPFRTIDENT ?? \"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1408,
        1536
      ],
      "id": "cbaa2ce3-8b12-44c3-895f-0859416ebe18",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1152,
        1600
      ],
      "id": "aadeba1a-639c-489a-9e63-07eba31bb30b",
      "name": "Merge5"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -576,
        864
      ],
      "id": "153603fc-101e-45fb-8d8a-a64ea06aa5ab",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bed8f7a7-e24e-40d2-b7e4-8857badbda09",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2208,
        1712
      ],
      "id": "9c6eb2aa-98e0-40d9-90de-542ee477e0be",
      "name": "Webhook cv",
      "webhookId": "bed8f7a7-e24e-40d2-b7e4-8857badbda09"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.STATUT_CV }}",
                    "rightValue": "EN_COURS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "219d0f97-0e6b-48f6-a05e-f98221badc12"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EN_COURS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0e9d814a-0ca6-4819-a5bd-ddc8260ca230",
                    "leftValue": "={{ $json.STATUT_CV }}",
                    "rightValue": "CLOTURE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CLOTURE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1856,
        1552
      ],
      "id": "f3273ae3-a1f7-4f9e-b866-c3d49be4cb86",
      "name": "Switch2"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2176,
        1552
      ],
      "id": "4aa593fe-0146-4cbf-b967-ffa3722774ac",
      "name": "Merge2"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "append",
        "workbook": {
          "__rl": true,
          "value": "01NGDMDCTLZWPMS2F2YZA3XPDKY2S2MI4E",
          "mode": "list",
          "cachedResultName": "CV_CLOTURE",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BC99ECD6B-BA68-41C6-BBBC-6AC6A5A62384%7D&file=CV_CLOTURE.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "gold.cv_cloture",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BC99ECD6B-BA68-41C6-BBBC-6AC6A5A62384%7D&file=CV_CLOTURE.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=gold.cv_cloture!A1"
        },
        "dataMode": "autoMap",
        "options": {
          "rawData": true
        }
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        -1248,
        1744
      ],
      "id": "c58830bd-ad0b-4a59-8f96-fb7f5fc2b18b",
      "name": "Append data to sheet1",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "YKOOKqsdMUbe56LI",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "clear",
        "workbook": {
          "__rl": true,
          "value": "01NGDMDCTLZWPMS2F2YZA3XPDKY2S2MI4E",
          "mode": "list",
          "cachedResultName": "CV_CLOTURE",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BC99ECD6B-BA68-41C6-BBBC-6AC6A5A62384%7D&file=CV_CLOTURE.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "gold.cv_cloture",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BC99ECD6B-BA68-41C6-BBBC-6AC6A5A62384%7D&file=CV_CLOTURE.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=gold.cv_cloture!A1"
        },
        "applyTo": "Contents",
        "useRange": true,
        "range": "A3:H1048576"
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        -1856,
        1712
      ],
      "id": "4fbf9bc8-5613-48e4-8d24-88b5bf5dd750",
      "name": "Clear sheet1",
      "executeOnce": true,
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "YKOOKqsdMUbe56LI",
          "name": "Microsoft Excel account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "getRows",
        "workbook": {
          "__rl": true,
          "value": "01NGDMDCTLZWPMS2F2YZA3XPDKY2S2MI4E",
          "mode": "list",
          "cachedResultName": "CV_CLOTURE",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BC99ECD6B-BA68-41C6-BBBC-6AC6A5A62384%7D&file=CV_CLOTURE.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "gold.cv_cloture",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BC99ECD6B-BA68-41C6-BBBC-6AC6A5A62384%7D&file=CV_CLOTURE.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=gold.cv_cloture!A1"
        },
        "table": {
          "__rl": true,
          "value": "{B79E446B-364B-454F-816C-6E54B191C905}",
          "mode": "list",
          "cachedResultName": "Tableau1",
          "cachedResultUrl": "https://guanter-my.sharepoint.com/personal/g-clarabon_grlog_com/_layouts/15/Doc.aspx?sourcedoc=%7BC99ECD6B-BA68-41C6-BBBC-6AC6A5A62384%7D&file=CV_CLOTURE.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=gold.cv_cloture!A1:H57"
        },
        "returnAll": true,
        "filters": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        -1664,
        1744
      ],
      "id": "f4976553-c398-4572-ad8e-529ff0427c4d",
      "name": "Get rows1",
      "executeOnce": true,
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "YKOOKqsdMUbe56LI",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "REFINTERNE",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1440,
        1744
      ],
      "id": "ad2beaab-ee8f-4923-8980-2178f8e49e46",
      "name": "Merge6"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "=Analyse le document de type 'Fiche de lot'. Extrait uniquement les lignes de VENTE (ignore les lignes d'arrivage) pour ce produit UNIQUEMENT : {{ $('WOODY FORM').item.json['Produit à analyser'] }}. Capture toutes les colonnes visibles relatives aux ventes. Pour les prix unitaires, privilégie toujours la valeur exprimée au kilo (Px/K) et obligatoirement le prix unitaire NET (capture le prix unitaire brut au kilo seulement si le net n'existe pas)(Ignore les valeurs négative). Ignore tous les frais présents dans le document (ne les inclue pas dans les résultats). Le poids net est toujours présent mais peut ne pas se situer à côté du poids brut. Assure-toi de capturer toutes les valeurs numériques correctement.\\n\\nFormat de sortie attendu :\\n{\\n  \\\"documents\\\": [\\n    {\\n      \\\"type\\\": \\\"fiche_de_lot\\\",\\n      \\\"lignes\\\": [\\n        {\\n          \\\"client\\\": \\\"\\\",\\n          \\\"produit\\\": \\\"\\\",\\n          \\\"colis\\\": 0,\\n          \\\"poids_brut\\\": 0.0,\\n          \\\"poids_net\\\": 0.0,\\n          \\\"prix_unitaire_net\\\": 0.0\\n        }\\n      ]\\n    }\\n  ]\\n}",
        "inputType": "binary",
        "binaryPropertyName": "Fiche_de_lot",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -1136,
        1040
      ],
      "id": "249668f0-eb20-4518-926e-587ae2a3721f",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "ZClPCXAMqZ6JHu5y",
          "name": "geoffrey.clarabon@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "=Extrais la matricule du camion et la d'arrivée. Extrais tous les frais listé relatif à ce produit : {{ $('WOODY FORM').item.json['Produit à analyser'] }}, soit la commission, les frais de transit relatif au produit cité, etc... (Pas besoin de calculer quoi que ce soit tous les montants sont accessible en brut dans le document)",
        "inputType": "binary",
        "binaryPropertyName": "Compte_de_vente",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -1136,
        640
      ],
      "id": "7bfe459b-8bba-4e5b-a4b3-f55eddde2205",
      "name": "Analyze document1",
      "credentials": {
        "googlePalmApi": {
          "id": "ZClPCXAMqZ6JHu5y",
          "name": "geoffrey.clarabon@gmail.com"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Je souhaite": "Calculer un compte de vente",
          "submittedAt": "2026-02-11T17:33:39.001+01:00",
          "formMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Informations + frais",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Informations + frais": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Analyze document1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LIGNE VENTE JSON": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ID TEMPLATE": {
      "main": [
        [
          {
            "node": "COPY TEMPLATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COPY TEMPLATE": {
      "main": [
        [
          {
            "node": "ID COPY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INFO": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VENTE": {
      "main": [
        [
          {
            "node": "INFO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "VENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID COPY": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WOODY FORM": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Call 'Relance automatique v1.0'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Relance automatique v1.0'": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append data to sheet": {
      "main": [
        []
      ]
    },
    "Clear sheet": {
      "main": [
        [
          {
            "node": "Clear sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get rows": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Info + Frais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info + Frais": {
      "main": [
        [
          {
            "node": "ID TEMPLATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Liste client formulaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "WOODY FORM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liste client formulaire": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Append data to sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook cv": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get rows1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get rows1": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Append data to sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "LIGNE VENTE JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document1": {
      "main": [
        [
          {
            "node": "Informations + frais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveManualExecutions": false,
    "timeSavedPerExecution": 20,
    "executionTimeout": 300
  },
  "versionId": "938e28d8-424f-44df-876d-a654a0c141f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49e8aadee5278053a2917996797c8014e25638124dcfba3e91e7dd54cfd84c78"
  },
  "id": "0rEQm5WQeIBfZsX8",
  "tags": [
    {
      "updatedAt": "2025-11-03T13:41:18.642Z",
      "createdAt": "2025-11-03T13:41:18.642Z",
      "id": "IwI2YoSyenEnW2Yx",
      "name": "GUANTER"
    }
  ]
}